#productId {
    cursor: pointer;;
}

#productId:hover{
    text-decoration: underline;
}

.btnTable {
    position: relative;
    height: 35px;
}

.btnExcel {
    position: absolute;
    right: 0;
}

.inputExcel {
    position: absolute;
    right: 130px;
}
